Name: Michael Whitefoot
Course: CS 456 Data Mining
Lab 1: Getting Started with Jupyter Notebook and Pandas

In this notebook I will be designing, building, and manipulating my own data set with multiple dypes to become more comfortable with creating structured data, and handling different types of data while using pandas.

In [57]:
#import libraries
import pandas as pd 
import numpy as np
from datetime import datetime, timedelta
import random

#random seed for reproducibility 
np.random.seed(42)

#create the random data 
student_ids = np.arange(1001,1051) #50 different id's 
scores = np.random.uniform(50,100,50) # random float scores between 50-100
majors = random.choices(['Computer Science', 'Math','Biology', 'Psychology','Construction'], k=50) #random majors
grad_year = np.random.choice([2025,2026,2027],50) #random graduation years
pass_fail = [score >= 60 for score in scores] #boolean based on scores

#put together DataFrame
data = {
    'Student_ID': student_ids,
    'Score': scores,
    'Major': majors,
    'Graduation_Year': grad_year,
    'Pass/Fail': pass_fail
}

df = pd.DataFrame(data)

In [59]:
#Display first 5 rows of DataFrame
df.head()

   Student_ID      Score             Major  Graduation_Year  Pass/Fail
0        1001  68.727006      Construction             2027       True
1        1002  97.535715  Computer Science             2026       True
2        1003  86.599697           Biology             2026       True
3        1004  79.932924      Construction             2026       True
4        1005  57.800932  Computer Science             2026      False

In [61]:
#Display last 5 rows of DataFrame
df.tail()

    Student_ID      Score             Major  Graduation_Year  Pass/Fail
45        1046  83.126114  Computer Science             2026       True
46        1047  65.585554        Psychology             2025       True
47        1048  76.003401      Construction             2027       True
48        1049  77.335514        Psychology             2027       True
49        1050  59.242723           Biology             2026      False

In [63]:
#Show column names and data types
df.dtypes

Student_ID           int32
Score              float64
Major               object
Graduation_Year      int32
Pass/Fail             bool
dtype: object

In [65]:
#Generate descriptive statstics for numeric columns
print(df.describe())

       Student_ID      Score  Graduation_Year
count    50.00000  50.000000         50.00000
mean   1025.50000  72.296195       2025.96000
std      14.57738  14.444160          0.85619
min    1001.00000  51.029225       2025.00000
25%    1013.25000  59.188350       2025.00000
50%    1025.50000  71.802438       2026.00000
75%    1037.75000  82.492747       2027.00000
max    1050.00000  98.495493       2027.00000

In [67]:
#Find number of unique values in a categorical column

print("Number of unique values in 'Major':",df['Major'].nunique())

Number of unique values in 'Major': 5

Column Challenge-
Add a new column that is computed from other columns and save your new table with at least 6 columns to a CSV file.

In [37]:
#Convert the number score to a letter grade
def letter_grade(score):
    if score >= 90:
        return 'A'
    elif score >=80:
        return 'B'
    elif score >= 70:
        return 'C'
    elif score >=60:
        return 'D'
    else:
        return 'F'

df['Letter_Grade'] = df['Score'].apply(letter_grade)

#save to CSV file
df.to_csv('Lab1_columns.csv', index=False)

In [39]:
#display new DataFrame
df.head()

,Student_ID,Score,Major,Graduation_Year,Pass/Fail,Letter_Grade
0,1001,68.727006,Computer Science,2027,True,D
1,1002,97.535715,Construction,2026,True,A
2,1003,86.599697,Math,2026,True,B
3,1004,79.932924,Computer Science,2026,True,C
4,1005,57.800932,Math,2026,False,F